.botao {
    padding-left: 5px;
    padding-right: 5px;
    margin: 4px;
}

.curtir {
    margin-top: 20px;
    margin-bottom: 5px;
}

.gradiente {
    background-image: linear-gradient(to bottom right, rgb(201, 107, 146), rgb(233, 166, 164));
    margin: 100px;
    height: 800px;
    align-content: center;
}